.searchBox {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.searchBox input {
    border-radius: 5px;
    border: 1px solid #333;
    height: 50px;
    background-color: #141414;
    color: #737373;
    padding-left: 10px;
    font-size: 18px;
    width: 500px;
}

.searchBox input:focus {
    outline: none !important;
}

.searchBox span {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px;
}

.searchBox span:hover {
    font-weight: bold;
}